@*Author:Shuaib sajid Purpose: Delete Denied view for attempting to delete a restricted computer*@
@{
    ViewData["Title"] = "DeleteDenied";
}

<h2 class="text-center">Delete Denied</h2>

<h4 class="text-center">Unable to delete a computer that is either currently assigned or has been previously assigned.</h4>
<a asp-action="Index">Back to List</a>